@using MVC_ModMaZa.Models.DbSınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SatisDetay</h2>

<br />
<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı: @ViewBag.pisim</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>SatışID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SatisİD</td>
            <td>@item.urun.UrunAd</td>
            <td>@item.cariler.CariAD @item.cariler.CariSoyad</td>
            <td> @item.personel.PersonelAd @item.personel.PersonelSoyad </td>
            <td>@item.Fiyat</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih</td>
            <td> <a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a>    </td>
        </tr>
    }
</table>