@model MVC_ModMaZa.Models.DbSınıflar.Urun
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Ürun Sayfası</h2>
<br />

<form class="form-group" method="post">
    <h4>Ürün İsim</h4>
    @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
    <br />
    <h4>Ürün Matka</h4>
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    <h4>Ürün Stok</h4>
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    <h4>Ürün Alış Fiyatı</h4>
    @Html.TextBoxFor(x => x.AlişFiyat, new { @class = "form-control" })
    <br />
    <h4>Ürün Satış Fiyatı</h4>
    @Html.TextBoxFor(x => x.SatişFiyati, new { @class = "form-control" })
    <br />
    <h4>Ürün Kategori</h4>
    @Html.DropDownListFor(x=>x.KategoriID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"})
    <br />
    <h4>Ürün Görsel</h4>
    @Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })
    <br />
    <h4>Ürün Durum</h4>
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    <button class=" btn btn-primary"> Kaydet   </button>
</form>